.botones input{
    background-color: rgb(206, 206, 206);
    border-radius: 3px;
    color: #0e1734;
    border: none;
    padding: 10px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 6px;
    width: 50px;
    height: 50px;
    font-size: 20px;    
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    
}
.botones{
    background-color: #0e1734;
    width: 250px;
    height: 300px;
    border-radius: 3px;
}

#reset {
    width: 106px;
    margin-left: 12px;
}

#equal {
    width: 106px;
    background-color: #3893f4;
}

.num1{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}


.num1:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num2{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num2:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num3{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num3:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}
.num4{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num4:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num5{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num5:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num6{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num6:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num7{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num7:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num8{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num8:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num9{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num9:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}
.num0{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num0:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.numX{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.numX:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.num-{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.num-:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.numMas{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.numMas:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.numReset{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

}

.numReset:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.numDiv{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.numDiv:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.numResul{
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.numResul:hover{
    background-color:  rgb(18, 18, 18); /* Color de fondo cuando el mouse está sobre el botón */
    color: #ffffff; /* Color del texto cuando el mouse está sobre el botón */
}

.titulo{
    font-size: 25px;
    color: #3893f4;
    font-weight:600;
}

.navbar-text{
    font-size: 23px;
}

#pantalla{
    text-align: right;
    border-radius: 3px;
    width: 250px;
    height: 60px;
    border: none;
    margin-bottom: 10px;
    background-color:   #0e1734;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#calc {
    border-radius: 5px;
    width: 262px;

    position: static; /* Ya no necesita absolute */
}

#calc form{
    margin: 10px;
}

.elemento {
    background-color: #172552;
    width: 100%;
    height: 92.7vh;
    display: flex;           /* Habilita flexbox */
    justify-content: center; /* Centra horizontal */
    align-items: center;     /* Centra vertical */
}

